@keyframes rotateRight {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(355deg);
    }
}

@keyframes rotateLeft {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-355deg);
    }
}

.place{
    height: 600vh;
    width: 1500vw;
    background: rgb(116,166,205);
    background: linear-gradient(0deg, rgba(116,166,205,1) 21%, rgba(11,39,45,1) 35%);
    overflow: hidden;
    position: fixed;
    max-width: 1500vw;
    bottom: 0;
    left: 0;
}

.hero_container{
    position: absolute;
    height: 30vh;
    width: 50vw;
    left: calc(50vw - 10vw);
    left: 25vw;
}

//boards
.board_{
    &second, &first, &third, &fourth, &fifth, &sixth{
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &first{       
        left: 300vw;
        bottom: 0;
    }
    &second{
        left: 400vw;
        bottom: 50vh;
    }
    &third{       
        left: 500vw;
        bottom: 100vh;
    }
    &fourth{
        left: 600vw;
        bottom: 100vh;
    }
    &fifth{
        left: 800vw;
        bottom: 100vh;
    }
    &sixth{
        left: 900vw;
        bottom: 50vh;
    }
}

.hero_rocket{
    position: absolute;
    bottom: 10vh;
    width: 20vw;
    z-index: 10000;
}

.rocket{
    position: absolute;
    bottom: 10vh;
    left: 1350vw;
    width: 40vw;
}

.crane{
    position: absolute;
    bottom: 10vh;
    left: 1280vw;
    width: 100vw;
}

.stand{
    position: absolute;
    left: 1340vw;
    bottom: 10vh;
    width: 60vw;
    height: 12vw;
    clip-path: polygon(0 12vw, 0 8vw, 4vw 8vw, 4vw 4vw, 8vw 4vw, 8vw 0, 100% 0, 100% 100%) ;
    background: url('../../../public/img/brick.png') 0 0/ 3vw 3vw repeat;
}

.poligon{
    position: absolute;
    bottom: 50vh;
    width: 30vw;
    left: 1260vw;
}

.mush_12{
    position: absolute;
    bottom: 10vh;
    width: 10vh;
    left: 1250vw;
}