.place{
    height: 600vh;
    width: 1500vw;
    background: rgb(116,166,205);
    background: linear-gradient(0deg, rgba(116,166,205,1) 21%, rgba(11,39,45,1) 35%);
    overflow: hidden;
    position: fixed;
    max-width: 1500vw;
    bottom: 0;
    left: 0;
}