.home{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mushroomOne{
    position: absolute;
    bottom: 10vh;
    left: 15vw;
    width: 6vw;
}

.treeOne_container{
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    height: 60vh;
    width: 15vw;
    overflow: hidden;
}