.home{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mushroomOne{
    position: absolute;
    bottom: 10vh;
    right: 15vw;
    width: 6vw;
    z-index: 10;
}

.treeOne_container{
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    height: 60vh;
    width: 15vw;
    overflow: hidden;
}

.column{
    position: absolute;
    bottom: 10vh;
    right: 5vh;
    width: 15vw;
}

.question{
    position: absolute;
    bottom: 30vh;
    right: 40vh;
    width: 10vh;
}