@keyframes cloud {
    0%{
        left: -20vw;
    }
    100%{
        left: calc(100% + 20vw)
    }
}

.clouds{
    position: absolute;
    left: 350vw;
    bottom: 100vh;
    width: 600vw;
    height: 100vh;
}

.cloud{
    width: 10vw;
    position: absolute;
    left: -20vw;
    &:nth-child(1){
        top: 20vh;
        animation: cloud 20s infinite;
    }
    &:nth-child(2){
        top: 10vh;
        animation: cloud 20s infinite 2s;
    }
    &:nth-child(3){
        top: 50vh;
        animation: cloud 20s infinite 1s;
    }
    &:nth-child(4){
        top: 80vh;
        animation: cloud 20s infinite 5s;
    }
    &:nth-child(5){
        top: 60vh;
        animation: cloud 20s infinite 4s;
    }
    &:nth-child(6){
        top: 70vh;
        animation: cloud 20s infinite 7s;
    }
    &:nth-child(7){
        top: 100vh;
        animation: cloud 20s infinite 3s;
    }
    &:nth-child(8){
        top: 40vh;
        animation: cloud 20s infinite 9s;
    }
    &:nth-child(9){
        top: 34vh;
        animation: cloud 20s infinite 8s;
    }
    &:nth-child(10){
        top: 81vh;
        animation: cloud 20s infinite 10s;
    }
}